<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table class="listing" summary="User list" style="width: 100%;">
  <tr class="header">
    <th>Username</th>
    <th>Show Details</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td style="text-align: center;"><%= user.username %></td>
      <td style="text-align: center;">
        <%= link_to "Show", user %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New user", new_user_path %>
